container_commands:
  01-jenkins-user:
    command: useradd -u 1000 jenkins || echo 'User already exist!'
  02-jenkins-user-groups:
    command: usermod -aG docker jenkins
  03-jenkins-home:
    command: mkdir /var/jenkins_home || echo 'Directory already exist!'
  04-changeperm:
    command: chown jenkins:jenkins /var/jenkins_home
